/* =====================
   BASE & RESET
===================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #F5F5F5;
  color: #222222;
}

 
/* =====================
   GRID DE CARDS
===================== */
.container {
  width: 90%;
  max-width: 1200px;
   margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 24px;
  padding-bottom: 60px;
  padding-top: 60px;
}

.card {
  background: #FFFFFF;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  padding: 16px;
  transition: transform .2s ease;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card:hover {
  transform: translateY(-4px);
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card h3 {
  font-size: 18px;
  color: #111111;
}

.card p {
  font-size: 14px;
  color: #666666;
}

.card button {
  margin-top: auto;
  padding: 10px;
  background: #FF7A00;
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.card button:hover {
  background: #E56A00;
}

/* =====================
   MODAL
===================== */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.45);
  display: none;
  justify-content: center;
  align-items: center;
  padding: 30px;
  z-index: 999;
}

.modal-overlay.active {
  display: flex;
}

.modal-content {
  background: #FFFFFF;
  width: 90%;
  max-width: 850px;
  max-height: 90vh;
  overflow-y: auto;
  border-radius: 14px;
  padding: 32px;
  position: relative;
  box-shadow: 0 8px 25px rgba(0,0,0,0.15);
}

.close-modal {
  position: absolute;
  right: 18px;
  top: 14px;
  background: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: #555555;
}

.modal-main-image {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 20px;
}

#modalTitle {
  font-size: 26px;
  margin-bottom: 5px;
  color: #111111;
}

#modalCategory {
  font-size: 15px;
  margin-bottom: 18px;
  color: #777777;
}

#modalDesc {
  font-size: 15px;
  color: #444444;
  line-height: 1.6;
}

.modal-gallery {
  display: flex;
  gap: 10px;
  margin-top: 22px;
  flex-wrap: wrap;
}

.modal-gallery img {
  width: 130px;
  border-radius: 8px;
  border: 2px solid #DDDDDD;
}
