
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #FFFFFF;
  color: #3D3A3A;  
}

.container {
  width: min(900px, 90%);
  margin-inline: auto;
  }

  h1, h2, h3, h4 {
  font-weight:400;
  color:#3D3A3A;
}

.a {
  color: #3D3A3A;
  text-decoration: none;
  transition: color 0.2 ease;
}

a:hover {
  color: chocolate;
}


/*Componentes especificos da página de projetos*/
 
.card {
  background: #d86f52;
  border-radius: 20px;
  padding: 32px; /* aumentado */
  box-shadow: 0 6px 16px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease;
  min-height: 220px; /* novo valor maior */

/* ----------------------------
   🦶 Rodapé
-----------------------------*/

footer {
  text-align: center;
  padding: 20px;
  color: #222222;
  border-top: 1px solid #e0e0e0;
 }
 